@model IEnumerable<WebBerberUygulamasi.Models.User>

@{
    ViewData["Title"] = "Berberler";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                <a asp-action="Demote" asp-route-id="@item.UserID">İşten Çıkar</a> |
                <a asp-action="Services" asp-route-id="@item.UserID">Hizmetler</a> |
                <a asp-action="Edit" asp-route-id="@item.UserID">Düzenle</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
